@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
}

.spacing {
	padding: 1.5em;
}

header {
	background-color: #E1D2EE;
}

h1, h2 {
	color: #43225E;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #43225E;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #A29061;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #E1D2EE;
  color: #3F029D;
}

footer {
	position: absolute;
	margin: 1.5em;
	bottom: 1.5em;
	right: 5%;
}